<div class="charts">
<div class="chart card">
  <h2>Browsers</h2>
  <%= pie_chart @browser_list%>
</div>

<div class="chart card">
  <h2>Operation Systems</h2>
  <%= pie_chart @os_list%>
</div>
</div>
