<div data-controller="links">
    <div class="main box column is-half is-offset-one-quarter">
      <h1 class = "title is-one">
        Shorten URLs
      </h1>

    <%= form_with(model: Link.new, local: false, html: { data: { type:"html", action: 'ajax:success->links#display' }} ) do |form| %>
       <%= form.text_field :full_url, class: 'input', data: { Links_Target: 'input'}, placeholder: 'http://example.com' %>
      <%= form.submit class: 'button is-primary'  %>
    <% end %>
    </div>

    <article class="output column message is-info is-half is-offset-one-quarter " data-links-target="output">
    </article>
</div>
